<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Список страничек</h1>
        <table>
            <tr>
               <td><a href="list_books">Список книг</a></td> 
            </tr>
            <tr>
                <td><a href="list_users">Список пользователей</a></td>
            </tr>
            <tr>
                <td><a href="form">Форма авторизации</a></td>
            </tr>
        </table>
    </div>
</body>
</html>